/* Esto es un CSS no válido */
/*[if IE]*/
/*link rel="stylesheet" href="css/ie.css" type="text/css"/ */
/*[endif]*/


html {
  font-family: "open sans", arial, sans-serif;
  background: #fff;
}

body {
  margin: auto;
  width: 50%;
}

h1 {
  background: #fff;
  color: #444;
}

h3 {
  font-weight: bold;
}

a:focus,
a:active {
  position: relative;
  top: 1px;
}

.button {}

.clear {}

.nav {}

.year1901 {}

.atr {}

.example {}

.error {}

.errstatus {
  border-top-style: none;
  font: 100%/1.6 palatino, georgia, serif;
  padding: 2em, 1em, 0 1em;
}

.demoimage {
  margin: 0px;
  padding: 1 1 0px;
  font-size: 0.8em;
  color: #eebbcc;
}

.class{
  background: fuchsia;
  border: 1px solid;
  border-radius: 4px;
  color: black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: center;
  text-indent: 2em;
}


.test {
  display: block;
  height: 100px
}


.video {
  margin-top: 1em;
}



@import url("https://www.google.com/css/maia.css");


/* Header */

.adw-header {}

/* Footer */

.adw-footer {}

/* Gallery */

.adw-gallery {}
